# Ignore Mosquitto data files
cloud_platform/data/mosquitto/data/*
cloud_platform/data/mosquitto/log/*
cloud_platform/data/mosquitto/config/certs/*

# Datasets files
*.csv

# Python cache files
__pycache__/

# Ignore certs
client_1/certs/*
cloud_platform/app/certs/*